@model School.Financial.Models.Transaction

@{
    ViewData["Title"] = "Create";

    var budgets = ViewBag.Budets as IEnumerable<School.Financial.Models.Budget>;
    var partners = ViewBag.Partners as IEnumerable<School.Financial.Models.Partner>;
    var partnerOptions = partners.Select(x =>
    {
        var name = x.PartnerType switch
        {
            PartnerType.Person => "(บุคคลธรรมดา)",
            PartnerType.Shop => "(นิติบุคคล)",
            _ => string.Empty,
        };
        return new
        {
            Id = x.Id,
            Name = $"{x.Name} {name}",
        };
    });
}

<h1>สร้าง</h1>

<h4>บันทึกรายจ่าย</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreatePayment">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BudgetId" class="control-label"></label>
                <select asp-for="BudgetId" asp-items="@(new SelectList(budgets,"Id","Name"))" class="form-control" onchange="OnBudgetChanged(this)">
                    <option value="">เลือก ...</option>
                </select>
                <span asp-validation-for="BudgetId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IssueDate" class="control-label"></label>
                <input asp-for="IssueDate" class="form-control datepicker" type="text" />
                <span asp-validation-for="IssueDate" class="text-danger"></span>
            </div>
            <div class="form-group" id="div_PaymentTypeDetail">
                <label asp-for="DuplicatePaymentType" class="control-label"></label>
                <div class="row">
                    <div class="col-sm-3">
                        <select asp-for="DuplicatePaymentType" class="form-control">
                            <option>ไม่ระบุ</option>
                            <option>บค.</option>
                            <option>บจ.</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <input asp-for="DuplicatePaymentNumber" class="form-control" placeholder="เลขที่ เช่น 01" />
                    </div>
                    <div class="col-sm-1 text-center">/</div>
                    <div class="col-sm-3">
                        <input asp-for="DuplicatePaymentYear" class="form-control" placeholder="ปี เช่น 63" />
                    </div>
                    <span asp-validation-for="DuplicatePaymentType" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group" id="div_PaymentType">
                <label asp-for="PaymentType" class="control-label"></label>
                <select asp-for="PaymentType" class="form-control">
                    <option>ใบสำคัญ</option>
                    <option>ลูกหนี้</option>
                    <option value="">ไม่ระบุ</option>
                </select>
                <span asp-validation-for="PaymentType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Remark" class="control-label"></label>
                <input asp-for="Remark" class="form-control" />
                <span asp-validation-for="Remark" class="text-danger"></span>
            </div>
            <div class="form-group" id="div_PartnerId">
                <label asp-for="PartnerId" class="control-label"></label>
                <select asp-for="PartnerId" asp-items="@(new SelectList(partnerOptions,"Id","Name"))" class="form-control">
                    <option value="">ไม่ระบุ</option>
                </select>
                <span asp-validation-for="BudgetId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="สร้าง" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">กลับ</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        function OnBudgetChanged(sender) {
            if ($(sender).val() == "0") {
                $("#div_PaymentTypeDetail").hide();
                $("#div_PaymentType").hide();
                $("#div_PartnerId").hide();
            } else {
                $("#div_PaymentTypeDetail").show();
                $("#div_PaymentType").show();
                $("#div_PartnerId").show();
            }
        }
    </script>
}
