@model School.Financial.Models.Transaction

@{
    ViewData["Title"] = "Create";

    var budgets = ViewBag.budgets as IEnumerable<School.Financial.Models.Budget>;
}

<h1>สร้าง</h1>

<h4>บันทึกรายรับ</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateIncome">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BudgetId" class="control-label"></label>
                <select asp-for="BudgetId" asp-items="@(new SelectList(budgets,"Id","Name"))" class="form-control" required>
                    <option value="">เลือก ...</option>
                </select>
                <span asp-validation-for="BudgetId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IssueDate" class="control-label"></label>
                <input asp-for="IssueDate" class="form-control datepicker" type="text" />
                <span asp-validation-for="IssueDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DuplicatePaymentType" class="control-label"></label>
                <div class="row">
                    <div class="col-sm-3">
                        <select asp-for="DuplicatePaymentType" class="form-control">
                            <option>ไม่ระบุ</option>
                            <option>บร.</option>
                        </select>
                    </div>
                    <div class="col-sm-6">
                        <input asp-for="DuplicatePaymentNumber" class="form-control" placeholder="เลขที่ เช่น 17ก63220/2" />
                    </div>
                </div>
                <span asp-validation-for="DuplicatePaymentType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" required />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" required />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Remark" class="control-label"></label>
                <input asp-for="Remark" class="form-control" />
                <span asp-validation-for="Remark" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="สร้าง" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">กลับ</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
