@model School.Financial.Models.Transaction

@{
    ViewData["Title"] = "บันทึกรายจ่าย";

    var budgets = ViewBag.Budets as IEnumerable<School.Financial.Models.Budget>;
    var partners = ViewBag.Partners as IEnumerable<School.Financial.Models.Partner>;
    var partnerOptions = partners.Select(x =>
    {
        var name = x.PartnerType switch
        {
            PartnerType.Person => "(บุคคลธรรมดา)",
            PartnerType.Shop => "(นิติบุคคล)",
            _ => string.Empty,
        };
        return new
        {
            Id = x.Id,
            Name = $"{x.Name} {name}",
        };
    });
}

<h1>สร้าง</h1>

<h4>บันทึกรายจ่าย</h4>
<hr />
<form asp-action="CreatePayment">
    <div class="row">
        <div class="col-md-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BudgetId" class="control-label"></label>
                <select asp-for="BudgetId" asp-items="@(new SelectList(budgets,"Id","Name"))" class="form-control" onchange="OnBudgetChanged(this)">
                    <option value="">เลือก ...</option>
                </select>
                <span asp-validation-for="BudgetId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IssueDate" class="control-label"></label>
                <input asp-for="IssueDate" class="form-control datepicker" type="text" />
                <span asp-validation-for="IssueDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input type="number" asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Remark" class="control-label"></label>
                <input asp-for="Remark" class="form-control" />
                <span asp-validation-for="Remark" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductType" class="control-label"></label>
                <input asp-for="ProductType" class="form-control" />
                <span asp-validation-for="ProductType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="สร้าง" class="btn btn-primary" />
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group" id="div_PaymentType">
                <label asp-for="PaymentType" class="control-label"></label>
                <select asp-for="PaymentType" class="form-control">
                    <option>ใบสำคัญ</option>
                    <option>ลูกหนี้</option>
                    <option value="">ไม่ระบุ</option>
                </select>
                <span asp-validation-for="PaymentType" class="text-danger"></span>
            </div>
            <div class="form-group" id="div_PartnerId">
                <label asp-for="PartnerId" class="control-label"></label>
                <select asp-for="PartnerId" asp-items="@(new SelectList(partnerOptions,"Id","Name"))" class="form-control" onchange="OnPartnerChanged(this)">
                    <option value="">ไม่ระบุ</option>
                </select>
                <span asp-validation-for="BudgetId" class="text-danger"></span>
            </div>
            <div class="form-group" id="div_PaymentTypeDetail" style="display:none">
                <label asp-for="DuplicatePaymentType" class="control-label"></label>
                <div class="row">
                    <div class="col-sm-5">
                        <select asp-for="DuplicatePaymentType" class="form-control" disabled>
                            <option>ไม่ระบุ</option>
                            <option>บค.</option>
                            <option>บจ.</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <input value="Auto" class="form-control" disabled />
                    </div>
                    <div class="col-sm-1 text-center">/</div>
                    <div class="col-sm-3">
                        <input value="@ViewBag.SchoolYear" class="form-control" disabled />
                    </div>
                </div>
            </div>
            <div class="form-group" id="div_DPYCount" style="display:none">
                <label for="DPYCount" class="control-label">จำนวนใบสำคัญ</label>
                <input type="number" id="DPYCount" name="DPYCount" class="form-control" value="1" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">กลับ</a>
</div>

@section Scripts {
    <script>
        var internalPartnerIds = [@string.Join(",", partners.Where(p => p.IsInternal).Select(p => p.Id))];
        function OnBudgetChanged(sender) {
            if ($(sender).val() == "0") {
                $("#div_PaymentType").hide();
                $("#div_PartnerId").hide();
                $("#div_PaymentTypeDetail").hide();
                $("#div_DPYCount").hide();
            } else {
                $("#div_PaymentType").show();
                $("#div_PartnerId").show();
                OnPartnerChanged(document.getElementById("PartnerId"));
            }
        }
        function OnPartnerChanged(sender) {
            console.log($(sender).val());
            console.log($(sender).val() == "ไม่ระบุ");
            if (internalPartnerIds.some(ip => $(sender).val() == ip)) {
                $("#div_PaymentTypeDetail").show();
                $("#div_DPYCount").show();
                $("#DuplicatePaymentType").val("บค.");
            } else if ($(sender).val() == "") {
                $("#div_PaymentTypeDetail").hide();
                $("#div_DPYCount").hide();
                $("#DuplicatePaymentType").val("ไม่ระบุ");
            } else {
                $("#div_PaymentTypeDetail").show();
                $("#div_DPYCount").show();
                $("#DuplicatePaymentType").val("บจ.");
            }
        }
    </script>
}
