
@{
    ViewData["Title"] = "รายงาน";
}

<h1>รายงาน</h1>

<a asp-action="TransactionReport">รายงานบันทึกรายการ</a>
<br />
<a asp-action="OverAllVatReport">รายงานรายการภาษี</a>
<br />
<br />
<a asp-action="OverAllReport">รายงานเงินคงเหลือประจำวัน</a>
<br />
<a asp-action="ChequeReport">ออกเช็ค</a>
<br />
&nbsp;&nbsp;&nbsp;&nbsp;รับรองหักภาษี
<br />
&nbsp;&nbsp;&nbsp;&nbsp;บันทึกขอเบิก
<br />
<a asp-action="DuplicatePaymentReport">บค. บจ.</a>
<br />
<a>ใบเสร็จรับเงิน</a>
<br />
<a>ทะเบียนคุมเช็ค</a>
<br />
<a>ทะเบียนคุมเงินฝากธนาคาร</a>
<br />
<a>ทะเบียนคุมสัญญายืมเงิน</a>
<br />
<a>ใบรับใบสำคัญ</a>
