
@{
    ViewData["Title"] = "รายงาน";
}

<h1>รายงาน</h1>

<a asp-action="TransactionReport">รายงานบันทึกรายการ</a>
<br />
<a asp-action="OverAllVatReport">รายงานรายการภาษี</a>
<br />
<br />
<a asp-action="OverAllReport">รายงานเงินคงเหลือประจำวัน</a>
<br />
<a asp-action="VatReport">รับรองหักภาษี</a>
<br />
<a asp-action="VatReport">บันทึกขอเบิก</a>
<br />
<a asp-action="ChequeReport">ออกเช็ค</a>
<br />
<a asp-action="DuplicatePaymentReport">บค. บจ.</a>
<br />
<a asp-action="VatReport">ใบเสร็จรับเงิน</a>
<br />
<a asp-action="VatReport">ทะเบียนคุมเช็ค</a>
<br />
<a asp-action="VatReport">ทะเบียนคุมเงินฝากธนาคาร</a>
<br />
<a asp-action="VatReport">ทะเบียนคุมสัญญายืมเงิน</a>
<br />
<a asp-action="VatReport">ใบรับใบสำคัญ</a>
