@model School.Financial.Models.OverAllReport

@{
    ViewData["Title"] = "รายงานเงินคงเหลือประจำวัน";
}

<h1>รายงานเงินคงเหลือประจำวัน</h1>
<form>
    <div class="row">
        <div class="col-sm-2">
            <input name="month" class="form-control datepicker" type="text" value="@ViewBag?.month?.ToString("yyyy-MM-dd hh:mm:ss")" />
        </div>
        <div class="col-sm-6">
            <button type="submit" class="btn btn-primary">Ok</button>
            <a class="btn btn-success" asp-action="OverAllReportFile" asp-route-month="@ViewBag?.month?.ToString("yyyy-MM-dd hh:mm:ss")"><span class="glyphicon glyphicon-download"></span> Dowload</a>
        </div>
    </div>
</form>
<br />
<table class="table">
    <thead>
        <tr>
            <th>ประเภทเงินงบประมาณ</th>
            <th class="text-right">เงินสด</th>
            <th class="text-right">เงินฝากธนาคาร</th>
            <th class="text-right">เงินฝากส่วนราชการผู้เบิก</th>
            <th class="text-right">รวม</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Budgets)
        {
            <tr>
                <td>@item.Budget.Name</td>
                <td class="text-right">0.00</td>
                <td class="text-right">@(item.Transactions.Sum(x => x.Amount).ToString("#,##0.00"))</td>
                <td class="text-right">0.00</td>
                <td class="text-right">@(item.Transactions.Sum(x => x.Amount).ToString("#,##0.00"))</td>
            </tr>
        }
    </tbody>
</table>
