@model School.Financial.Models.OverAllReport

@{
    ViewData["Title"] = "รายงานเงินคงเหลือประจำวัน";
}

<h1>รายงานเงินคงเหลือประจำวัน</h1>
<form>
    <input name="month" class="monthpicker" type="text" value="@ViewBag?.month?.ToString("yyyy-MM-dd hh:mm:ss")" />
    <button type="submit">Ok</button>
</form>
<table class="table">
    <thead>
        <tr>
            <th>ประเภทเงินงบประมาณ</th>
            <th class="text-right">เงินสด</th>
            <th class="text-right">เงินฝากธนาคาร</th>
            <th class="text-right">เงินฝากส่วนราชการผู้เบิก</th>
            <th class="text-right">รวม</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Budgets)
        {
            <tr>
                <td>@item.Budget.Name</td>
                <td class="text-right">0.00</td>
                <td class="text-right">@(item.Transactions.Sum(x => x.Amount))</td>
                <td class="text-right">0.00</td>
                <td class="text-right">@(item.Transactions.Sum(x => x.Amount))</td>
            </tr>
        }
    </tbody>
</table>
