@model School.Financial.Models.Partner

@{
    ViewData["Title"] = "แก้ไขนิติบุคคล/ร้านค้า";
}

<h1>แก้ไข</h1>

<h4>นิติบุคคล/ร้านค้า</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VatNumber" class="control-label"></label>
                <input asp-for="VatNumber" class="form-control" />
                <span asp-validation-for="VatNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PartnerType" class="control-label"></label>
                <select asp-for="PartnerType" class="form-control">
                    <option value="Normal">ไม่ระบุ</option>
                    <option value="Person">นิติบุคคล</option>
                    <option value="Shop">ร้านค้า</option>
                </select>
                <span asp-validation-for="PartnerType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="แก้ไข" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">กลับ</a>
</div>

